NEXT_PUBLIC_SUPABASE_URL=https://sua-url-do-projeto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxaHV1Y2F0cHpjc3VtamphbGRsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5MDUwMDUsImV4cCI6MjA5NTQ4MTAwNX0.E9BrK3AsfDBZ_pGvj3plobKcEHPPu0G296tDuTOHxUw
NEXT_PUBLIC_APP_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres.PROJECT_REF:SUA-SENHA@aws-0-region.pooler.supabase.com:5432/postgres
SUPABASE_DB_POOLER_URL=postgresql://postgres.PROJECT_REF:SUA-SENHA@aws-0-region.pooler.supabase.com:5432/postgres
PETLAR_SETUP_PASSWORD=
PETLAR_VERCEL_TOKEN=
PETLAR_VERCEL_PROJECT_ID=PETLAR
PETLAR_VERCEL_TEAM_ID=
